<ion-card>
    
  <ion-item>
    <ion-avatar item-start>
      <img src="https://media.licdn.com/dms/image/C5103AQGHFDLBrITBog/profile-displayphoto-shrink_100_100/0?e=1548892800&v=beta&t=HXsGUOvGFlA2EubCzCLLOWRFVjDvAQt1vSQ-jQibCgA">
    </ion-avatar>
    <ion-card-header>
        <ion-card-title>Manish Arora</ion-card-title>
        <ion-card-subtitle>Nov 30, 2018</ion-card-subtitle>
        <ion-card-subtitle>Man kyu behka...</ion-card-subtitle>
      </ion-card-header>
  </ion-item>

  <app-mini-player sColor="danger"></app-mini-player>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>