<ion-card>
    
  <ion-item>
    <ion-avatar item-start>
      <img *ngIf="feed_profile_img_url" src="{{feed_profile_img_url}}"/>
      <img *ngIf="!feed_profile_img_url" src="assets/profile_avatar.png"/>
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{feedItem.full_name}}</ion-card-title>
      <ion-card-subtitle>{{feedItem.post_datetime}}</ion-card-subtitle>
      <ion-card-subtitle>{{music_album}}</ion-card-subtitle>
      <ion-card-subtitle>{{music_title}}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>

  <ion-card-content>
    {{feedItem.message}}
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{feedItem.likes}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-button size="small" (click)="onAddToPlaylist()">
        Add to Playlist <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>