<ion-tabs>

  <ion-tab tab="feed">
    <ion-router-outlet name="feed"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="search">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="playlist">
    <ion-router-outlet name="playlist"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="my-music">
    <ion-router-outlet name="my-music"></ion-router-outlet>
  </ion-tab>

  <app-mini-player slot="bottom"></app-mini-player>

  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="feed" href="/tabs/(feed:feed)">
      <ion-icon name="logo-rss"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/(search:search)">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlist" href="/tabs/(playlist:playlist)">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Playlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-music" href="/tabs/(my-music:my-music)">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>My Music</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
