.profile-image {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    overflow: hidden;
}

.page-bg {
    background-color: cornflowerblue !important;
}

.intro {
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 14px;
}
