<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="page-bg">
    <div>
        <ion-img class="profile-image" [src]="objUserProfile.picture_url"></ion-img>
    </div>
    <div class="intro">
        <h3>{{objUserProfile.full_name}}</h3>
        <h6>{{objUserProfile.email}}</h6>
    </div>
    <div>Musical Network</div>
    <ion-item-list>
        <ion-item></ion-item>
    </ion-item-list>
</ion-content>
