<app-header sTitle="MGooS"></app-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content 
            pullingIcon="arrow-dropdown" 
            pullingText="Pull to refresh" 
            refreshingSpinner="circles" 
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <app-feed-audio-item *ngFor="let feedItem of feedItemAry" [feedItem]="feedItem"></app-feed-audio-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="fetchFeedItems($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
