<div class="pb-container" *ngIf="bUploading">
  <ion-toolbar class="tool-bar">
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="progress + '%'">
          <ion-text *ngIf="bStarting">
              <ion-spinner name="dots"></ion-spinner>
          </ion-text>
          <ion-text *ngIf="!bStarting">{{progress}}%</ion-text>
      </div>
    </div>
  </ion-toolbar>
  <div class="msg-div">
    <ion-textarea rows="3" [(ngModel)]="feedMsg" placeholder="Post to public feed (message optional)"></ion-textarea>
  </div>
  <ion-item>
    <ion-text><small>Post and let the world enjoy it too!</small></ion-text>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="onIgnore()">
          <ion-icon name="close-circle"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="onPost()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</div>
