<ion-toolbar>
  <div class="progress-outer">
    <div class="progress-inner" [style.width]="progress + '%'">
        {{progress}}%
    </div>
  </div>
  <ion-buttons slot="end">
    <ion-button size="small">
      <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button size="small">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>
    <ion-button size="small">
      <ion-icon slot="icon-only" name="hand"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
