<app-header sTitle="MGooS"></app-header>

<ion-content>
  <ion-list>
    <ion-reorder-group disabled="false" (ionItemReorder)="onReorderPlaylist($event)">
      <ion-item *ngFor="let mp3 of playlist; let i = index" (click)="Play(i);">
        <ion-label>
          <ion-icon name="musical-notes" slot="start"></ion-icon>
          {{mp3.mp3Data.albumName}} / {{mp3.mp3Data.customName}}
        </ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>