<app-header sTitle="MGooS"></app-header>

<ion-content>
  <app-progress-bar [progress]="percent" color="primary"></app-progress-bar>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown" 
      pullingText="Pull to refresh" 
      refreshingSpinner="circles" 
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      <ion-label *ngIf="!bLoading">
        Your uploaded MP3s
      </ion-label>
      <ion-label *ngIf="bLoading">
        Please wait <ion-spinner></ion-spinner>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let mp3 of mp3List">
      <ion-label>
        <ion-icon *ngIf="!mp3.thumbnail" name="musical-notes" slot="start"></ion-icon>
        <ion-avatar *ngIf="mp3.thumbnail" slot="start">
            <img [src]="mp3.thumbnail">
          </ion-avatar>
        <ion-label *ngIf="mp3.metaData">{{mp3.metaData.common.album}}</ion-label>
        <ion-text *ngIf="!mp3.metaData">{{mp3.albumName}}</ion-text>
        <p *ngIf="mp3.metaData">{{mp3.metaData.common.title}}</p> 
        <p *ngIf="!mp3.metaData">{{mp3.customName}}</p>
        <p>{{mp3.createdAtISO}}</p> 
      </ion-label>
      <ion-buttons slot="end">
        <ion-button shape="round" color="tertiary" (click)="addToPlaylist(mp3.id, mp3.thumbnail, mp3);$event.stopPropagation();">
          <ion-icon slot="icon-only" name="redo"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="tertiary" (click)="onSettings(mp3.id, mp3);presentPopover($event);$event.stopPropagation();">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="fetchFeedItems($event)">
      <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading ...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>